language: node_js
node_js:
- 8.0.0
sudo: false
addons:
  ssh_known_hosts: $HOST
services:
  - mongodb
  - redis-server
before_install:
- openssl aes-256-cbc -K $encrypted_32662055e808_key -iv $encrypted_32662055e808_iv
  -in deploy_key.pem.enc -out deploy_key.pem -d
- eval "$(ssh-agent -s)"
- chmod 600 deploy_key.pem
- ssh-add deploy_key.pem
- mkdir -p uploads
install:
- npm install
before_deploy:
- npm run build
deploy:
  provider: script
  skip_cleanup: true
  script: scp -o "StrictHostKeyChecking no" -r $TRAVIS_BUILD_DIR/server-dist $TRAVIS_BUILD_DIR/package.json $USER@$HOST:/home/ubuntu
  on:
    branch: master
    tags: true
after_script:
- ssh -p 22 -o "StrictHostKeyChecking no" $USER@$HOST "bash -s" < deploy.sh
- eval "$(ssh-agent -k)"
- echo "Killed SSH Agent"
- rm -rf deploy_key.pem
after_failure:
- ssh -p 22 -o "StrictHostKeyChecking no" $USER@$HOST "bash -s" < deploy.sh
- eval "$(ssh-agent -k)"
- echo "Killed SSH Agent"
- rm -rf deploy_key.pem

