language: node_js
node_js:
- 8.0.0
sudo: false
addons:
  ssh_known_hosts: $HOST
before_install:
- openssl aes-256-cbc -K $encrypted_32662055e808_key -iv $encrypted_32662055e808_iv
  -in deploy_key.pem.enc -out deploy_key.pem -d
- eval "$(ssh-agent -s)"
- chmod 600 deploy_key.pem
- ssh-add deploy_key.pem
install:
- npm install
before_deploy:
- npm run build
deploy:
  provider: script
  skip_cleanup: true
  script: scp -r $TRAVIS_BUILD_DIR/server-dist $USER@$HOST:/home/ubuntu
  on:
    all_branches: true
after_deploy:
- echo Successfully deployed
- exit 0
